<div>
<h2><%=t(:login)%></h2>
<%= form_tag '/login' do %>
  <%=t :email%>: <%= text_field_tag :email %><br/>
  <%=t :password%>: <%= password_field_tag :password %><br/>
  <%= submit_tag t(:login) %>
<% end %>
<%= link_to t(:forgot_password), forgot_path %>
</div>