<% if recording.published == false %>
  <div class='warning-banner'>
    <div class='title'>
    <%= t(:this_recording_is_not_published_because) %>:
    </div>
    <ul>
    <% recording.not_published_because.each do |reason| %>
    <li><%=reason%></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: recording) do |form| %>
  <% if recording.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recording.errors.count, "error") %> <%=t("probihited_saved")%>:</h2>

      <ul>
        <% recording.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :speaker, style: "display: block" %>
    <%= form.text_field :speaker %>
  </div>

  <div>
    <%= form.label :theme, style: "display: block" %>
    <%= form.text_field :theme %>
  </div>

  <div>
    <%= form.label :recorded_at, style: "display: block" %>
    <%= form.datetime_field :recorded_at, step: :any %>
  </div>

  <div>
    <%= form.label :visible, style: "display: block" %>
    <%= form.check_box :visible %>
  </div>

  <div>
    <%= form.label :audio_file, style: "display: block" %>
    <% if recording.audio_file.attached? %>
    <div class='update-audio'>
      <span class='green'>✓</span><%= t(:audio_file_present)%> <br/>
      <span><%= t(:update)%>:</span> <%= form.file_field :audio_file, accept: 'audio/mp3' %><br/>
      <audio controls><source src='<%=recording.audio_file.url %>'></audio>
      <%=link_to t(:download), recording.audio_file, class: :download_audio %> </span><br/>
      </div>
      
    <% else %>
      <%= form.file_field :audio_file, accept: 'audio/mp3' %>
    <% end %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
   <div>
    <%= form.label :image_file, style: "display: block" %>
   <% if recording.image_file.attached? %>
       <span class='green'>✓</span><span><%= t(:image_file_present)%></span>
       <span><%=t(:update)%>:</span>
    <% end %>
    <%= form.file_field :image_file, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
