<tr>
  <% link_td recording, :speaker do %>
    <%=recording.speaker%>&nbsp;-&nbsp;<span class='theme'><%=recording.theme%></span>
  <% end %>

  <td class='date'><%=format_date(recording.recorded_at)%></td>
  <td class='published'>
    <% if recording.published%>
      <%= inline_svg_tag 'check.svg', :class => :ok, :title => t(:published) %>
    <% else %>
    <%= inline_svg_tag 'warning.svg', :class => :warning, :title => t(:not_published) %>
    <% end %>
  </td>
  <td class='actions'>
    <%= link_to recording, data: { "turbo-method": :delete, :turbo_confirm => 'Are you sure?' }, title: t(:delete)  do %>
      <%= inline_svg_tag 'delete.svg' %>
    <% end %>
  </td>
</tr>