<div id="<%= dom_id recording %>">
  <p>
    <strong>Podcast:</strong>
    <%= recording.podcast_id %>
  </p>

  <p>
    <strong>Speaker:</strong>
    <%= recording.speaker %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= recording.theme %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= recording.recorded_at %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= recording.published %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recording.description %>
  </p>

</div>
