<div id="<%= dom_id recording %>">
  <p>
    <strong>Speaker:</strong>
    <%= recording.speaker %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= recording.theme %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= recording.recorded_at %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= recording.published %>
  </p>
  <p>
    <strong>Audio:</strong>
    <% if recording.audio_file.attached? %>
    <%= audio_tag url_for(recording.audio_file), controls: true, preload: "none" %>
    <% else %>
    <p>No audio</p>
    <% end %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= recording.description %>
  </p>

</div>
