<%= form_with(model: [@podcast, privilege]) do |form| %>
  <% if privilege.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(privilege.errors.count, "error") %> <%=t("probihited_saved")%>:</h2>

      <ul>
        <% privilege.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select(:user_id, User.all, :id, :full_name) %>
  </div>

  <div>
    <%= form.label :podcast_id, style: "display: block" %>
    <%= form.collection_select(:podcast_id, Podcast.all, :id, :name) %>
    
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, options_for_select(enum_to_dict(Privilege.roles)) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
