<h1><%=t(:privileges)%> for <%=@podcast.name %></h1>

<%= link_to t(:model_new, model: Privilege), new_podcast_privilege_path(@podcast) %>

<table>
  <% @privileges.each do |privilege| %>
    <tr>
    <% link_td_to_path  edit_podcast_privilege_path(@podcast, privilege), :username do %>
      <%=privilege.user.full_name%>
    <% end %>
    <% link_td_to_path  edit_podcast_privilege_path(@podcast, privilege), :role do %>
      <%=privilege.role%>
    <% end %>
    <td class='actions'>
      <%= link_to  podcast_privilege_path(@podcast, privilege), data: { "turbo-method": :delete, :turbo_confirm => 'Are you sure?' }, title: t(:delete)  do %>
        <%= inline_svg_tag 'delete' %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
