<p style="color: green"><%= notice %></p>

<h1><%=t(:privileges)%></h1>

<div id="privileges">
  <% @privileges.each do |privilege| %>
    <%= render privilege %>
    <p>
      <%= link_to t(:model_show, model: Privilege), podcast_privilege_path(@podcast, privilege) %>
    </p>
  <% end %>
</div>

<%= link_to t(:model_new, model: Privilege), new_podcast_privilege_path(@podcast) %>
