<p style="color: green"><%= notice %></p>

<h1><%=t(:privileges)%> for <%=@podcast.name %></h1>

<table>
  <tr>
  <th>User</th>
  <th>Role</th>
  <th></th>
  </tr>
  <% @privileges.each do |privilege| %>
    <tr>
    <td class='username'><%=privilege.user.full_name%></td>
    <td class='role'><%=privilege.role%></td>
    <td class='actions'>
      <%= link_to t(:edit), edit_podcast_privilege_path(@podcast, privilege) %>
      <%= link_to t(:destroy), podcast_privilege_path(@podcast, privilege), data: { "turbo-method": :delete } %>
    </td>
    </tr>
  <% end %>
</table>

<%= link_to t(:model_new, model: Privilege), new_podcast_privilege_path(@podcast) %>
