<p style="color: green"><%= notice %></p>

<%= render @privilege %>

<div>
  <%= link_to "Edit this privilege",edit_podcast_privilege_path(@podcast, @privilege) %> |
  <%= link_to "Back to privileges", podcast_privileges_path(@podcast) %>

  <%= button_to "Destroy this privilege", podcast_privilege_path(@podcast, @privilege), method: :delete %>
</div>
