<p style="color: green"><%= notice %></p>

<h1><%=t(:users)%></h1>

<%= link_to t(:model_new, model: User), new_user_path %>

<table id="users">
  <% @users.each do |user| %>
    <tr>
     <% link_td user, :name do %>
      <%=user.full_name%>
    <% end %>
    <% link_td user, :email do %>
      <%=user.email%>
    <% end %>
    <td class='actions'>
     <%= link_to user, data: { "turbo-method": :delete, :turbo_confirm => 'Are you sure?' }  do %>
        <%= inline_svg_tag 'delete' %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>

