<p style="color: green"><%= notice %></p>

<h1><%=t(:users)%></h1>

<table id="users">
  <tr>
  <th>Name</th>
  <th>Email</th>
  <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
    <td class='name'><%=user.full_name%></td>
    <td class='email'><%=user.email%></td>
    <td class='actions'>
      <%= link_to t(:edit), edit_user_path(user) %>
      <%= link_to t(:destroy), user_path(user), data: { "turbo-method": :delete, :turbo_confirm => 'Are you sure?' } %>
    </td>
    </tr>
  <% end %>
</table>

<%= link_to t(:model_new, model: User), new_user_path %>
