<%= form_with(model: podcast) do |form| %>
  <% if podcast.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(podcast.errors.count, t("error")) %> <%=t("probihited_saved")%>:</h2>

      <ul>
        <% podcast.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t(:name), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label t(:shortname), style: "display: block" %>
    <%= form.text_field :shortname %>
  </div>

  <div>
    <%= form.label t(:copyright), style: "display: block" %>
    <%= form.text_field :copyright %>
  </div>

  <div>
    <%= form.label t(:author), style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label t(:email), style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label t(:keywords), style: "display: block" %>
    <%= form.text_field :keywords %>
  </div>
  <div>
    <%= form.submit%>
  </div>
<% end %>
