<div id="<%= dom_id podcast %>">
  <p>
    <strong>Name:</strong>
    <%= podcast.name %>
  </p>

  <p>
    <strong>Shortname:</strong>
    <%= podcast.shortname %>
  </p>

  <p>
    <strong>Copyright:</strong>
    <%= podcast.copyright %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= podcast.author %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= podcast.email %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= podcast.keywords %>
  </p>

  <% if podcast.image_file.attached?  %>
    <%= image_tag podcast.image_file.variant(:thumb) %>
  <% end %>
</div>
