
<div id="<%= dom_id podcast %>" class="podcast card">
    <% if podcast.image_file.attached?  %>
      <%= image_tag podcast.image_file.variant(:thumb) %>
    <% else %>
      <%= image_tag "placeholder" %>
    <% end %>
  <div class='name'>
    <%= podcast.name %> (<%= podcast.shortname %>)
  </div>
  <div class='description'>
    <%= podcast.description%>
  </div>
  <div class='actions'>
    <%= link_to t(:edit), edit_podcast_path(podcast) %>
    <%= link_to t(:privileges), podcast_privileges_path(podcast) %>
    <%= link_to t(:destroy), podcast, data: { "turbo-method": :delete, :turbo_confirm => 'Are you sure?'} %>
  </div>
</div>
