<p style="color: green"><%= notice %></p>

<%= render @podcast %>


<% @podcast.privileges.each do |privilege| %>
    <%= render privilege %>
<% end %>

<div>
  <%= link_to t(:model_edit, model: Podcast), edit_podcast_path(@podcast) %> |
  <%= link_to t(:privileges_for_this_podcast), podcast_privileges_path(@podcast) %> |
  <%= link_to t(:model_back_to_index, model: Podcast), podcasts_path %>

  <%= button_to t(:model_destroy, model: Podcast), @podcast, method: :delete %>
</div>
