<nav>
  <span class='logo'>Mark423</span>
  <%= link_to t("home"), root_path %>
  <%= link_to t("users"), users_path %>
  <%= link_to t("podcasts"), podcasts_path %>
  <%= link_to t("recordings"), recordings_path %>
  <span><%=current_user.full_name %> (<%=current_role %>)</span> - 
  
  <span>
    <%= form_tag switch_podcast_path, {:class => "inline-form"} do %>
      <%=select :podcast, :id, current_user.podcasts.collect{|a|[a.name, a.id]}, {:selected => current_podcast.id}, :onchange => 'this.form.submit()' %>
    <% end %>
    
  </span> - 
  <%= link_to t("Logout"), logout_path %>
</nav>