<nav>
  <ul>
    <li class='logo'>Mark423</li>
    <% if current_role == 'manager' %>
    <li><%= link_to t("podcast"), current_podcast_path %></li>
    <% end %>
    <% if current_user.is_admin? %>
    <li><%= link_to t("users"), users_path %></li>
    <li><%= link_to t("podcasts"), podcasts_path %></li>
    <% end %>
    <% unless current_podcast.nil? %>
      <li><%= link_to t("recordings"), recordings_path %></li>
    <% end %>
    <li class='split'><%=current_user.full_name %>(<%=link_to "Me", profile_path%>) (<%=current_role %>)</li>
    <li>
    <% unless current_podcast.nil? %>
      <%= form_tag switch_podcast_path, {:class => "inline-form"} do %>
        <%=select :podcast, :id, my_podcasts, {:selected => current_podcast.id }, :onchange => 'this.form.submit()' %>
      <% end %>
    <% end %>
    </li> 
    <li><%= link_to t("logout"), logout_path %></li>
  </ul>
</nav>