<!DOCTYPE html>
<html>
  <head>
    <title>Mark423</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "simple" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :header_content %>
    
  </head>

  <body>
   <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: build_alert_classes(type) %>
    <% end %>
    <div class='<%=current_controller%> <%=current_action%>'>
    <%= yield %>
    </div>
  </body>
</html>
